<template name="mapContent">
    <!-- Content Wrapper. Contains page content -->
    <!--<div id="content" class="content-wrapper" style="min-height: {{minHeight}};">-->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Map
                <small>Search for a location</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content" style="padding-top: 0; min-height: {{minSection}};">

            <!-- Your Page Content Here -->

            <div class="row">
                <!-- search form -->
                <form class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Find a location">
                        <span class="input-group-btn">
                            <button name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="row">
                <div class="map-container">
                    {{> googleMap name="exampleMap" options=exampleMapOptions}}
                </div>
            </div>

        </section>
    <!--</div>-->
    <!-- /.content-wrapper -->
</template>