<template name="notificationsContent">
    <!-- Content Wrapper. Contains page content -->
    <!--<div id="content" class="content-wrapper" style="min-height: {{minHeight}};">-->
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Notifications
                <small>Stay updated with the latest field data</small>
            </h1>
        </section>

        <!-- Main content -->
        <section class="content" style="min-height: {{minSection}};">

            <!-- Your Page Content Here -->



        </section>
    <!--</div>-->
    <!-- /.content-wrapper -->
</template>