
.messageWindow {
  position: absolute;
  padding-right: 1px;
  padding-left: 1px;
  width: 100%;
  height: 100%;
  background: white;
  overflow-x: hidden;
  overflow-y: scroll;
}


.message {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  background-color: transparent;
}

.nodeID {
  font-weight: bold;
}


.badge{
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 5px;
  margin-left: 5px;
}

.list-group-item-timestamp{
  background-color: #b3b3b3;
  padding-right: 5px;
  padding-left: 5px;
}

.item-label {
  padding-right: 5px;
  padding-left: 5px;
  font-weight: bold;
}
